@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/source_code/SourceCodePro-Regular.woff2') format('woff2'),
        url('../fonts/source_code/SourceCodePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
